# Ignore the original CSV file
data/FantasyPros_2024_Draft.xlsx
data/cleaned_fantasy_football_players.csv
CLI/__pycache__/
.DS_Store
.venv
web-app/backend/node_modules/
web-app/backend/.env
web-app/node_modules/